@import "constants";

.navbar{
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: $primaryColor;

  .navigation{
    ul{
      display: flex;
      flex-wrap: wrap;
      padding: 1rem 0;
      justify-content: center;
    }

    li{
      margin: 0.4rem 0;
      list-style: none;
      text-align: center;
    }

    li:last-child{
      margin-right: 1rem;
    }

    a{
      color: whitesmoke;
      margin-top: 1rem;
      text-decoration: none;
      padding: 0.5rem 1.2rem;
      font-weight: bold;
    }
    a:hover{
      text-decoration: underline;
      transition: ease-in 0.6s;
    }
  }
}

@media screen and (max-width: 768px){

  .info, .socialMedia{
    display: none;
  }
}


@media screen and (min-width: 768px){

  .navbar{
    justify-content: space-around;

    a, h3{
      color: whitesmoke;
    }

    .info {
      display: none;
    }

    .navigation{
      a{
        font-size: 1.2rem;
       
      }
    }
    .socialMedia{
      display: inline-flex;
      flex-direction: column;
      min-width: 250px;

      h3{
        font-size: 1.4rem;
        text-align: center;
        padding-bottom: 0.2rem;
      }

      a{
        padding: 0rem 1rem;
      }

      a:hover{
        color: rgb(212, 32, 32);
      }
       
      .mediaIcons{
        display: flex;
        justify-content: space-between;

          svg{
            height: 25px;
            width: 25px;
          }
        }
    }

  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .navbar{
    .navigation{
      a{
        font-size: 1.7rem;
      }
    }

    .socialMedia{

      h3{
        font-size: 2rem;
      }
      .mediaIcons{
      svg{
        height: 36px;
        width: 36px;
      }
    }
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .navbar{
    height: 100vh;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    flex-direction: column;
    justify-content: space-between;

    .info{
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      margin-bottom: 2rem;

      img{
        margin: 0 auto;
        border-radius: 50%;
        border: solid white 2px;
      }

      h2{
        color: whitesmoke;
        font-size: 2rem;
      }

      h3{
        text-align: center;
        font-style: italic;
      }

      span{
        display: block;
      }
    }

    .navigation{
      flex: 1;
      ul{
        flex-direction: column;

      }
      li{
        margin: 1rem 0;
      }
    }

    .socialMedia{
      margin-bottom: 1rem;
    }
  }
}