@import "constants";

.navbar{
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: $primaryColor;

  .navigation{
    ul{
      display: flex;
      flex-wrap: wrap;
      padding: 1rem 0;
      justify-content: center;
    }

    li{
      margin-bottom: 0.5rem;
      list-style: none;
      text-align: center;
      
    }

    li:last-child{
      margin-right: 1rem;
    }

    a{
      color: whitesmoke;
      margin-top: 1rem;
      text-decoration: none;
      padding: 1rem 1.2rem;
    }
    a:hover{
      color: #333;
      text-decoration: underline;
      transition: ease 0.3s;
    }
  }
}

@media screen and (max-width: 768px){

  .info, .socialMedia{
    display: none;
  }
}


@media screen and (min-width: 768px){

  .navbar{
    justify-content: space-around;

    a, h3{
      color: whitesmoke;
    }

    .info {
      display: none;
    }

    .navigation{
      a{
        font-size: 1.2rem;
      }
    }
    .socialMedia{
      display: inline-flex;
      flex-direction: column;
      min-width: 250px;

      h3{
        font-size: 1.4rem;
        text-align: center;
        padding-bottom: 0.2rem;
      }

      a{
        padding: 0rem 1rem;
      }

      a:hover{
        color: rgb(212, 32, 32);
      }
       
      .mediaIcons{
        display: flex;
        justify-content: space-between;

          svg{
            height: 25px;
            width: 25px;
          }
        }
    }

  }
  
    

   


}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .navbar{

    .navigation{
      a{
        font-size: 1.7rem;
      }
    }

    .socialMedia{

      h3{
        font-size: 2rem;
      }
      .mediaIcons{
      svg{
        height: 36px;
        width: 36px;
      }
    }
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {...}