@import "constants";

.navbar{
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: $primaryColor;

  .navigation{
    ul{
      display: flex;
      flex-wrap: wrap;
      padding: 1rem 0;
      justify-content: center;
    }

    li{
      margin-bottom: 0.5rem;
      list-style: none;
      text-align: center;
      
    }

    li:last-child{
      margin-right: 1rem;
    }

    a{
      color: whitesmoke;
      margin-top: 1rem;
      text-decoration: none;
      padding: 1rem 1.2rem;
    }
    a:hover{
      color: #333;
      text-decoration: underline;
      transition: ease 0.3s;
    }
  }
}

@media screen and (max-width: 768px){

  .info, .socialMedia{
    display: none;
  }
}


@media screen and (min-width: 768px){
  .navigation{

    ul{
      flex-direction: column;
    }
  }
}