@import 'constants';

.portfolio {
  flex: 1;
  padding: 1.5rem;
  
  .container{
    h1{
      color: $primaryColor;
      font-size: 3.6rem;
      border-bottom: solid black 1px;
      margin-bottom: 2rem;
    }
  }
}

@media screen and(min-width: 1024px){
  .portfolio{
    padding: 1rem;
    
    .container{
      max-width: 1200px;
      margin: 0 auto;
      h1{
        font-size: 4rem;
      }
    }
  }
  
}